* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(50, 9, 3, 0.7), rgba(4, 90, 30, 0.7)), url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;

}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #00c25e;
  display: block;
  margin: auto;
  transition: 0.25s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 45px;
}

.text-box p{
  margin: 10px, 0px, 40px;
  font-size: 20px;
  color: #fff;
}
/* 
nav .fa-solid{
 display: none; 
}
 */
nav .fa-brands{
    color: #fff;
    padding: 10px;
    position: relative;
}

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px
}

/*
@media(max-width: 700px) {
  
  html {
    overflow-x: hidden;
    height: 100%;
  }
  
  .text-box h1{
    font-size: 20px;
  }
  
  .text-box p{
    font-size: 15px;
  }
  
  .nav-links ul li{
    display: block;
  }
  
  .nav-links ul{
    padding: 10px;
  }
  
  .nav-links{
    position: absolute;
    background: #95046e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -400px;
    text-align: left;
    z-index: 2;
    transition: 0.8s;
  }
  
  nav .fa-solid{
    padding: 10px;
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
}*/